@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-button {
    @apply flex items-center gap-3 px-5 py-3 
           rounded-lg border border-[#E4ECF2] bg-white 
           text-[#141416] text-center text-sm 
           font-medium leading-5 font-poppins cursor-pointer;
  }

  .filter-button-active {
    @apply border-[#4323FF] ring-1 ring-[#4323FF];
  }

  .dropdown-menu {
    @apply absolute left-0 mt-[55px] p-3 flex flex-col 
           justify-start items-start gap-2 rounded-lg bg-white 
           shadow-lg w-[200px] z-50;
  }

  .dropdown-title {
    @apply text-[#777E90] text-xs font-normal uppercase;
  }

  .options-wrapper {
    @apply flex flex-col gap-[9px] mb-[9px];
  }

  .dropdown-option {
    @apply flex items-center gap-3 text-sm font-medium text-[#141416];
  }

  .checkbox {
    @apply w-[18px] h-[18px] border border-[#E4ECF2] 
           rounded cursor-pointer appearance-none 
           checked:bg-[#00C2A6] checked:border-none;
  }

  .checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M3.33333 8L0 4.7276L1.4823 3.2724L3.33333 5.09474L8.5177 0L10 1.4552L3.33333 8Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 10px;
  }

  .save-button {
    @apply w-full bg-[#4323FF] text-white text-center py-2 
           rounded-md font-normal;
  }
}
