@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-[16px] font-bold leading-[24px] text-[#141416]
           overflow-hidden text-ellipsis self-stretch font-poppins;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
